.cellsLayout {
  padding-top: 30vh;
  padding-bottom: 30vh;
  background-image: url("../images/leaf2.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.deleteButton {
  background-color: #77dd77;
}
